In [1]:
print("Hello wold.")

Hello wold.

In [2]:
print("welcome to",end='')

welcome to

In [3]:
print(233)

233

In [4]:
print("the World of python",end='!')

the World of python!

In [5]:
print("\"Welcome to the world or python\"")

"Welcome to the world or python"

In [6]:
'hai'

'hai'

"hello"

In [7]:
'2'

'2'

In [8]:
fred=200

john=fred

print(john)

200

In [9]:
z=1+2j

In [10]:
print(z)

(1+2j)

In [11]:
type(z)

complex

In [12]:
k="35"

In [13]:
type(k)

str

In [14]:
k=35

In [15]:
type(k)

int

In [16]:
l=(2,"hai")

In [17]:
type(l)

tuple

In [18]:
l[1]

'hai'

In [19]:
x=complex(1,2)

In [20]:
print(x)

(1+2j)

In [21]:
var1=float(input("Enter first number"))

var2=float(input("Enter second number"))

sum=var1+var2

print("sum is :",sum)

Enter first number2
Enter second number4
sum is : 6.0

# string

In [22]:
print("python\n"*3)

python
python
python

In [23]:
forename=input("What is your name ? ")

print("Hello ",forename)

What is your name ? hi
Hello  hi

In [24]:
s="Python"

In [25]:
print(s[0:4])

Pyth

In [26]:
print(s[:3])

Pyt

In [27]:
print(s[-5:-2])

yth

In [28]:
print(s[0:6:2])

Pto

In [29]:
print(s[::-1])

nohtyP

In [30]:
print(s[1:3])

yt

In [31]:
print(s.capitalize())

Python

In [32]:
print(s.lower())

python

In [33]:
print(s.upper())

PYTHON

In [34]:
print(s.swapcase())

pYTHON

# OPERATOR

In [35]:
var1=int(input("Enter first variable: "))

var2=int(input("Enter the second variable: "))

add=var1+var2

sub=var1-var2

mul=var1*var2

div=var1/var2

mod=var1%var2

exp=var1**var2

flr=var1//var2

print("results are: ")

print("addition: ",add)

print("subtraction: ",sub)

print("multiplication: ",mul)

print("division: ",div)

print("reminder: ",mod)

print("exponential: ",exp)

print("floor division: ",flr)

Enter first variable: 10
Enter the second variable: 19
results are:
addition:  29
subtraction:  -9
multiplication:  190
division:  0.5263157894736842
reminder:  10
exponential:  10000000000000000000
floor division:  0

In [36]:
side=int(input("please enter the side of a square"))

area=side**2

print("the area of square is: ",area)

please enter the side of a square12
the area of square is:  144

In [37]:
b=int(input("Enter base triangle: "))

h=int(input("Enter heigth of triangle: "))

a=1/2*b*h

print("area is :",a)

Enter base triangle: 12
Enter heigth of triangle: 2
area is : 12.0

In [38]:
sal=int(input("Enter basic salary: "))

ta=3/100*sal

sa=7/100*sal

ms=sal+ta+sa

print("traval allowance: ",ta)

print("special allowance: ",sa)

print("monthly salary : ",ms)

Enter basic salary: 12333
traval allowance:  369.99
special allowance:  863.3100000000001
monthly salary :  13566.3

# List

In [39]:
l1=["mango","orange","pinapple"]

l2=["carrot","cucumber","brinjal"]

l1+l2

print(l1)

['mango', 'orange', 'pinapple']

In [40]:
l1.append(l2)

l1

['mango', 'orange', 'pinapple', ['carrot', 'cucumber', 'brinjal']]

In [41]:
l1.extend(l2)

l1

['mango',
 'orange',
 'pinapple',
 ['carrot', 'cucumber', 'brinjal'],
 'carrot',
 'cucumber',
 'brinjal']

In [42]:
list1=[9,6,3,5]

list1.sort()

list1

[3, 5, 6, 9]

In [43]:
l

(2, 'hai')

In [44]:
l1.reverse()

l1

['brinjal',
 'cucumber',
 'carrot',
 ['carrot', 'cucumber', 'brinjal'],
 'pinapple',
 'orange',
 'mango']

In [45]:
list1.reverse()
list1

[9, 6, 5, 3]

In [46]:
list3=['mango','orange','pineapple','carrot','cucumber','brinjal']

In [47]:
list3.insert(2,'lemon')

In [48]:
list3

['mango', 'orange', 'lemon', 'pineapple', 'carrot', 'cucumber', 'brinjal']

In [49]:
list3

['mango', 'orange', 'lemon', 'pineapple', 'carrot', 'cucumber', 'brinjal']

In [50]:
len(list3)

7

In [51]:
list3[2:4]

['lemon', 'pineapple']

In [52]:
list3.pop(1)

list3

['mango', 'lemon', 'pineapple', 'carrot', 'cucumber', 'brinjal']

# Dictionary

In [53]:
dict1={"name":"AMINA",
      "age":21,
      "nation":"India"}

In [54]:
dict1["email"]="ami@gmail.com"

In [55]:
dict1

{'name': 'AMINA', 'age': 21, 'nation': 'India', 'email': 'ami@gmail.com'}

# CONDITION

In [56]:
a=int(input("Enter first number : "))

b=int(input("Enter second number : "))

c=int(input("Enter third number : "))

if a>b and a>c:
    
    print(f"{a} is larger" )
    
elif b>a and b>c:
    
    print(f"{b} is larger")
    
else:
    
    print(f"{c} is larger")

Enter first number : 1
Enter second number : 2
Enter third number : 3
3 is larger

In [57]:
a=int(input("Enter first number : "))

b=int(input("Enter second number : "))

c=int(input("Enter third number : "))

if a==b:

  print("first number is equal to second number. ")
         
elif b==c:
   
    print("second number is equal to third number.")

elif a==c:
    
    print("first number is equal to third number.")

else:
    
    print("all are different number.")

Enter first number : 3
Enter second number : 1
Enter third number : 4
all are different number.

In [58]:
num=int(input("Enter a number : "))

if(num%2)==0 and num !=0:
    
    print(f"{num} is even.")
          
elif num==0:
    
    print("number is zero.")
          
          
else:
    
    print(f"{num} is odd.")

Enter a number : 7
7 is odd.

# loops

for

In [59]:
fruits=['apple','orange','grape']

for item in fruits:
    
    print("This is "+item)

This is apple
This is orange
This is grape

In [60]:
a=[1,2,3,4]

sum=0

for i in a:
    
    sum=sum+i
    
print(f"The sum of the list is {sum}")

The sum of the list is 10

In [61]:
num=[5,4,10,9,3,2,6,8]

for i in num:
    
    print(f"cube of {i} is ",end="")
    
    i=i**3
    
    print(i)

cube of 5 is 125
cube of 4 is 64
cube of 10 is 1000
cube of 9 is 729
cube of 3 is 27
cube of 2 is 8
cube of 6 is 216
cube of 8 is 512

In [62]:
for i in range(30,67):
    
    if(i%7==0):
        
      print(i)

35
42
49
56
63

In [63]:


for i in range(6):
    
    for j in range(i+1):
        
        print(i,end=" ")
        
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4
5 5 5 5 5 5

while

In [64]:
a=1
while a<10:
    print(a)
    a+=2

1
3
5
7
9

In [65]:
numbers = [12,37,5,42,8,3]

even = []

odd = []

while len(numbers) > 0 :
    
    number=numbers.pop()
    
    if(number % 2 == 0 ):
        
        even.append(number)
        
    else:
        
        odd.append(number)

print(f"odd_list = {odd}")
print(f"even_list= {even}")

odd_list = [3, 5, 37]
even_list= [8, 42, 12]

In [66]:
i=1
while i<6:
    print(f"{i} square is ",end = " ")
    n=i**2
    print(f"{n}")
    i+=1

1 square is  1
2 square is  4
3 square is  9
4 square is  16
5 square is  25

In [67]:
i=1
sum=0
while i<6:
    num=int(input('Enter 5 number'))
    sum=sum+num
    i+=1
print(f"the sum is {sum}")
avg=sum/5
print(f"the average is {avg}")

Enter 5 number3
Enter 5 number4
Enter 5 number5
Enter 5 number5
Enter 5 number6
the sum is 23
the average is 4.6

In [68]:
i=1

num=int(input("which multiplication table if you want:"))

limit=int(input("Enter the multiplication limit: "))


while i<limit+1:
    
  print(f" {num} * {i} = {i*num} ",end=" ")

  print()
    
  i+=1

which multiplication table if you want:3
Enter the multiplication limit: 5
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15

In [69]:
a=[]

while len(a)<5:
    
     val=(input("Enter the value: "))
        
     a.append(val)
     
        
print(a)

Enter the value: 2
Enter the value: 4
Enter the value: 5
Enter the value: 5
Enter the value: 6
['2', '4', '5', '5', '6']

# Menu driven

In [112]:
while True:
    
    print("1.calculate the area of a rectangle")
    
    print("2.calculate the area of circle")
    
    print("3.calulate the area of triangle")
    
    print("4.Exit")
    
    choice=int(input("Enter your choice"))
    
    if choice==1:
        le=int(input("enter the length: "))
        br=int(input("enter the height: "))
        area = le*br
        print("area of rectangle is : ",area)
    elif choice==2:
        r=int(input("enter the radius: "))
        ar=3.14*r*r
        print("area of circle : ",ar)
        
    elif choice==3:
        b=int(input("enter base: "))
        h=int(input("enter height: "))
        a=0.5*b*h
        print("area of triangle: ",a)
    elif choice==4:
         print("exit")
         break
    else:
        print("please enter above given choice.")
        break

1.calculate the area of a rectangle
2.calculate the area of circle
3.calulate the area of triangle
4.Exit
Enter your choice3
enter base: 4
enter height: 2
area of triangle:  4.0
1.calculate the area of a rectangle
2.calculate the area of circle
3.calulate the area of triangle
4.Exit
Enter your choice5
please enter above given choice.

In [115]:
def my_fun(fname,lname):
    print("Hello "+fname+" "+lname)

In [116]:
my_fun("ammu","anu")

Hello ammu anu

In [117]:
# parameter as tuple format

In [118]:
def show_name(*names):
    print("first name is "+names[0])
    print("last name is "+names[1])
    print("email name is "+names[2])

In [119]:
show_name("ammu","anu","anu15@gmail.com")

first name is ammu
last name is anu
email name is anu15@gmail.com

In [120]:
def show_ch(child3,child2,child1):
    print("Youngest child is "+child3)

In [121]:
show_ch(child1="minu",child2="vinu",child3="tinu")

Youngest child is tinu

In [122]:
# parameter as dictionary

In [178]:
def show_chi(**kids):
             
    print("last name is "+kids['lname'])

In [179]:
show_chi(fname="asha",lname="mohan")

last name is mohan

# Default parameter

In [125]:
def my_country(country="India"):
    print("I am from "+country)

In [126]:
my_country("Nepal")

my_country("Australia")

my_country()

my_country("brazil")

I am from Nepal
I am from Australia
I am from India
I am from brazil

create a function to print the list items

In [133]:
list_name=['1','2','3']

def fun_name(arg):
    
    for list_name in arg:
        
       print(list_name)
    
fun_name(list_name)

1
2
3

create a function to print the key,value of dictionary items

In [150]:
mydict={"brand":"audi","color":"black","price":10000000}

In [151]:
def show_dict(car):
    
    for i in car:
        
        print(i," is ",car[i])

In [152]:
show_dict(mydict)

brand  is  audi
color  is  black
price  is  1000000

In [158]:
mydict={"brand":"audi","color":"black","price":10000000}

In [159]:
def show_dict(car):
    
    for ke,val in car.items():
        
        print(ke,"is ",val)

In [160]:
show_dict(mydict)

brand is  audi
color is  black
price is  10000000

In [164]:
def add(x,y):
    
    return x+y

sum=add(3,2)

avg=sum/2

print(avg)

2.5

# oop

In [165]:
class MyClass:
    
    x=5

obj1=MyClass()

print(obj1.x)

5

In [168]:
class person:
    
    def __init__(self,na,ag):
        
        self.name=na
        
        self.age=ag
        
obj2=person("John",34)

print(obj2.name)

print(obj2.age)

John
34

In [172]:
class vehicle:
    
    light=4
    
    def __init__(self,name,num,seat):
        
        self.nam = name
        
        self.wheels = num
        
        self.seats = seat
        
vehicle1 = vehicle("car",4,5)

vehicle2 = vehicle("auto",3,4)

vehicle3 = vehicle("cycle",2,1)

print(vehicle1.nam,"has",vehicle1.wheels,"wheels",vehicle1.seats,"seats and ",vehicle1.light,"light")


print(vehicle2.nam,"has",vehicle2.wheels,"wheels",vehicle2.seats,"seats and",vehicle2.light,"lights")

vehicle.light=1

print(vehicle3.nam,"has",vehicle3.wheels,"wheels",vehicle3.seats,"seats and",vehicle3.light,"lights")

car has 4 wheels 5 seats and  4 light
auto has 3 wheels 4 seats and 4 lights
cycle has 2 wheels 1 seats and 1 lights

In [177]:
class person:
    
    def __init__(self,n,a):
        
        self.name=n
        
        self.age=a
        
    def greet(self):
        
        print("hello "+self.name)
    
obj2=person("John",34)
    
obj2.greet()

hello John